body {
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

.container {
    background-color: #1e1e1e;
    width: 300px;
    padding: 30px 30px;

    h1 {
        color: white;
        font-size: 21px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #7a7a7a;
        margin: 0 0 20px 0;
    }

    form {
        input {
            width: 295px;
            padding: 12px 0 12px 5px;
            margin-bottom: 15px;
            border: 2px solid #7a7a7a;
            outline: none;
            color: white;
            background-color: transparent;
        }

        button {
            background-color: transparent;
            border: 2px solid #f3f1ef;
            z-index: 999999;
            position: relative;
            display: inline-block;
            color: #f3f1ef;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            transition: 0.3s;
            padding: 12px 20px;
            outline: none;
            margin-top: 5px;

            &:before {
                content: "";
                height: 100%;
                width: 0;
                position: absolute;
                background-color: white;
                display: flex;
                left: 0;
                top: 0;
                transition: 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
                span {
                    color: #121212;
                    position: relative;
                    z-index: 9999;
                }
            }
        }
    }
}